{
  "server": true,
  "node_name": "{{ ansible_facts['nodename'] }}",
  "datacenter": "dc1",
  "data_dir": "/var/consul/data",
  "bind_addr": "0.0.0.0",
  "client_addr": "0.0.0.0",
  "advertise_addr": "{{ ansible_facts['default_ipv4']['address'] }}",
  "bootstrap_expect": 3,
  "retry_join": [{{ ipnodelist }}],
  "ui": true,
  "log_level": "DEBUG",
  "enable_syslog": true,
  "acl_enforce_version_8": false
}
