{
  "server": false,
  "datacenter": "dc1",
  "node_name": "{{ ansible_facts['nodename'] }}",
  "data_dir": "/var/consul/data",
  "bind_addr": "{{ ansible_facts['default_ipv4']['address'] }}",
  "client_addr": "127.0.0.1",
  "retry_join": [ {{ ipnodelist }} ],
  "log_level": "DEBUG",
  "enable_syslog": true,
  "acl_enforce_version_8": false
}
