listener "tcp" {
  address          = "0.0.0.0:8200"
  cluster_address  = "{{ ansible_facts['default_ipv4']['address'] }}:8201"
  tls_disable      = "true"
}

storage "consul" {
  address = "127.0.0.1:8500"
  path    = "vault/"
}

api_addr = "http://{{ ansible_facts['default_ipv4']['address'] }}:8200"
cluster_addr = "https://{{ ansible_facts['default_ipv4']['address'] }}:8201"